<form [formGroup]="signInForm">
	<div class="field">
		<scrumer-text-input
			type="email"
			placeholder="Email Address"
			formControlName="email"
			[startIcon]="icons.faEnvelope"
			[scrumerDisableControl]="isLoading$ | async"
			[invalid]="isInvalid(email)"
		></scrumer-text-input>
	</div>
	<div class="field">
		<scrumer-text-input
			type="password"
			placeholder="Password"
			formControlName="password"
			[startIcon]="icons.faLock"
			[scrumerDisableControl]="isLoading$ | async"
			[invalid]="isInvalid(password)"
		></scrumer-text-input>
	</div>
	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<button
					class="button is-primary is-rounded"
					[ngClass]="{ 'is-loading': isLoading$ | async }"
					[disabled]="signInForm.invalid || (isLoading$ | async)"
					(click)="onSubmitSignIn()"
				>
					Sign in
				</button>
			</div>
		</div>
		<div class="level-right">
			<div class="level-item">
				<p class="is-link">
					If you don't have an account then
					<a routerLink="/auth/signUp">sign up!</a>
				</p>
			</div>
		</div>
	</div>
</form>
