<div class="tabs is-centered is-fullwidth is-toggle is-toggle-rounded">
	<ul>
		<li [routerLink]="['./verifyEmail']" routerLinkActive="is-active">
			<a>Verify your email</a>
		</li>
		<li [routerLink]="['./createAccount']" routerLinkActive="is-active">
			<a>Create an account</a>
		</li>
	</ul>
</div>
<div class="content">
	<router-outlet></router-outlet>
</div>
