<div class="columns">
	<div
		class="column
		is-half-desktop is-offset-one-quarter-desktop
		is-three-fifths-tablet is-offset-one-fifth-tablet"
	>
		<div class="box">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
