<form [formGroup]="verifyEmailForm">
	<div class="field">
		<scrumer-text-input
			type="email"
			placeholder="Recipient Email Address"
			label="Verification token will be send on recipient email"
			formControlName="email"
			[scrumerDisableControl]="isLoading$ | async"
			[startIcon]="icons.faEnvelope"
			[invalid]="isInvalid(email)"
		>
		</scrumer-text-input>
	</div>
	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<button
					class="button is-primary is-rounded"
					[ngClass]="{ 'is-loading': isLoading$ | async }"
					[disabled]="verifyEmailForm.invalid || (isLoading$ | async)"
					(click)="onSubmitVerifyEmail()"
				>
					Send a token
				</button>
			</div>
		</div>
	</div>
</form>
