<form [formGroup]="createAccountForm">
	<ng-container formGroupName="token">
		<div class="field">
			<scrumer-text-input
				formControlName="uuid"
				label="Token sent on your email after verification"
				placeholder="Verification token"
				[scrumerDisableControl]="isLoading$ | async"
				[startIcon]="icons.faKey"
				[invalid]="isInvalid(uuid)"
			></scrumer-text-input>
		</div>
	</ng-container>

	<ng-container formGroupName="user">
		<div class="field">
			<scrumer-text-input
				formControlName="nick"
				placeholder="Nickname"
				[scrumerDisableControl]="isLoading$ | async"
				[startIcon]="icons.faUserSecret"
				[invalid]="isInvalid(nick)"
			></scrumer-text-input>
		</div>
		<div class="field is-grouped is-grouped-centered">
			<div class="control is-expanded">
				<scrumer-text-input
					formControlName="name"
					placeholder="Name"
					[scrumerDisableControl]="isLoading$ | async"
					[startIcon]="icons.faUser"
					[invalid]="isInvalid(name)"
				></scrumer-text-input>
			</div>
			<div class="control is-expanded">
				<scrumer-text-input
					formControlName="surname"
					placeholder="Surname"
					[scrumerDisableControl]="isLoading$ | async"
					[startIcon]="icons.faUser"
					[invalid]="isInvalid(surname)"
				></scrumer-text-input>
			</div>
		</div>
		<div class="field">
			<scrumer-text-input
				type="email"
				formControlName="email"
				placeholder="Email Address"
				[startIcon]="icons.faEnvelope"
				[invalid]="isInvalid(email)"
			></scrumer-text-input>
		</div>
		<div class="field">
			<scrumer-text-input
				type="password"
				formControlName="password"
				placeholder="Password"
				[scrumerDisableControl]="isLoading$ | async"
				[startIcon]="icons.faLock"
				[invalid]="isInvalid(password)"
			></scrumer-text-input>
		</div>
		<div class="field">
			<scrumer-text-input
				type="password"
				formControlName="confirmedPassword"
				placeholder="Confirmed Password"
				[scrumerDisableControl]="isLoading$ | async"
				[startIcon]="icons.faLock"
				[invalid]="isInvalid(confirmedPassword)"
			></scrumer-text-input>
		</div>
	</ng-container>

	<div class="level">
		<div class="level-left">
			<div class="level-item">
				<button
					class="button is-primary is-rounded"
					[ngClass]="{ 'is-loading': isLoading$ | async }"
					[disabled]="createAccountForm.invalid || (isLoading$ | async)"
					(click)="onSubmitCreateUserForm()"
				>
					Create an account
				</button>
			</div>
		</div>
	</div>
</form>
