<nav class="navbar is-primary" role="navigation">
	<div class="navbar-brand">
		<a routerLink="/" class="navbar-item">
			<h2 class="heading is-size-6">Scrumer</h2>
		</a>

		<a role="button" class="navbar-burger" [scrumerToggle]="[menu]">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="navbar-menu" #menu>
		<div class="navbar-end">
			<div
				*ngIf="(isAuthorized$ | async); else isSignedOut"
				class="navbar-item has-dropdown"
				[scrumerToggle]
			>
				<a role="button" class="navbar-link">{{
					(currentUser$ | async)?.email
				}}</a>
				<div class="navbar-dropdown">
					<hr class="navbar-divider" />
					<a role="button" class="navbar-item" (click)="auth.signOut()"
						>Sign out</a
					>
				</div>
			</div>
			<ng-template #isSignedOut>
				<div class="buttons">
					<a routerLink="/auth/signUp" class="button is-primary is-rounded"
						>Sign up</a
					>
					<a routerLink="/auth/signIn" class="button is-light is-rounded"
						>Sign in</a
					>
				</div>
			</ng-template>
		</div>
	</div>
</nav>
