<div class="field is-horizontal">
	<div class="field-body">
		<div class="field">
			<label *ngIf="label" class="label has-text-grey-dark">{{ label }}</label>
			<p
				class="control"
				[ngClass]="{
					'has-icons-left': startIcon,
					'has-icons-right': endIcon,
					'is-loading': loading
				}"
			>
				<input
					class="input"
					[(ngModel)]="value"
					[type]="type"
					[disabled]="disabled"
					[placeholder]="placeholder ? placeholder : ''"
					[ngClass]="{ 'is-danger': invalid }"
					(blur)="onTouched($event)"
				/>
				<span *ngIf="startIcon" class="icon is-left">
					<fa-icon [icon]="startIcon"></fa-icon>
				</span>
				<span *ngIf="endIcon" class="icon is-right">
					<fa-icon [icon]="endIcon"></fa-icon>
				</span>
			</p>
		</div>
	</div>
</div>
